/* TODO: Style the product card container */

.productCardContainer {
    background-color: darkgrey;
}

/* TODO: Add special styling for out-of-stock products */

.inStock {
    background-color: aliceblue;
    color: darkgreen;
}

.outOfStock {
    background-color: aliceblue;
    color: darkred;
}