body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
}

button {
  background-color: rgb(4, 109, 91);
  color: antiquewhite;
  padding: 10px;
}

header {
  background-color: rgb(0, 0, 0);
  color: cornsilk;
}